		.t-block {
		    margin: 29px auto;
		    background: #fafafa;
		    width: 1220px;
		    background: #FFF;
		    border: 1px solid #DCDCDC;
		    border-radius: 10px;
		    overflow: hidden;
		}
		
		.t-block>h5 {
		    height: 60px;
		    margin-left: 30px;
		    line-height: 60px;
		    color: #666;
		    font-size: 18px;
		    font-weight: normal;
		    background: #fafafa;
		}
		
		.t-block>ul {
		    background: #fff;
		    font-size: 0;
		    list-style: none;
		    overflow: hidden;
		}
		
		.t-block>ul>li {
		    box-sizing: border-box;
		    float: left;
		    border: 1px solid #DCDCDC;
		    height: 429px;
		}
		
		.width-1 {
		    width: 25%;
		}
		
		.width-2 {
		    width: 50%;
		}
		
		.getshadow:hover {
		    box-shadow: 0 0 38px rgba(0, 0, 0, .08) inset;
		    -webkit-transition: all .15s ease;
		    transition: all .15s ease;
		}